In [1]:
from pathlib import Path
from datetime import date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Se quiere que este código perdure en el tiempo, por tanto, se genera el código para que lea todos los excel  hasta el año actual
today = date.today()
#Los datos de producción se obtienen desde el año 2013
primeraño=2013
añoactual=today.year
#Un rango de fechas desde el 2013 hasta el año actual
años = range(primeraño,añoactual+1,1)
#Se crea una función para leer los nombres de los archivos que estan ubicados en el directorio
def ls(ruta = Path.cwd()):
    return [arch.name for arch in Path(ruta).iterdir() if arch.is_file()]
#Se establece como ruta una carpeta llamada "Datos" dentro del directorio actual
files=ls("Datos/")
for año in años:
    for file in files:
        añotemp = file[file.find('2'):file.find('2')+4]
        if int(año) == int(añotemp):
            #Se leen los documentos de excel que están en el directorio especificado. Se limita las columnas de la A a la Q
            globals()["año" + str(año)] = pd.read_excel('Datos/'+file,usecols='A:Q')
            #Se eliminan las filas con valores nulos, para así quitar encabezados y totalizadores
            globals()["año" + str(año)]=globals()["año" + str(año)].dropna().reset_index(drop=True)
            #La primera fila pasa a ser el encabezado del data frame
            globals()["año" + str(año)]=globals()["año" + str(año)].rename(columns= globals()["año" + str(año)].iloc[0]).drop(0)

In [5]:
año2015

,Departamento,Municipio,Operadora,Contrato,Campo,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
1,TOLIMA,ESPINAL,KAPPA RESOURCES COLOMBIA LTD.,ABANICO,ABANICO,868.806,807.964,838.968,829.867,725.71,732.833,744.645,747,749.967,782.323,744.333,798.613
2,BOYACA,PUERTO BOYACA,MANSAROVAR ENERGY COLOMBIA LTD,NARE ASOCIACION,ABARCO,6770,6565.89,6151.71,5867.5,6687.81,6126.4,7254.74,6626.19,6747.37,6029.81,6629.17,5756.71
3,CASANARE,PAZ DE ARIPORO,PERENCO COLOMBIA LIMITED,ESTERO,ABEJAS,259.645,258.286,231.258,204.4,212.419,214.833,25.9032,217.935,199.433,214.194,215.067,201.161
4,SANTANDER,CIMITARRA,KAPPA RESOURCES COLOMBIA LTD.,LAS QUINCHAS,ACACIA ESTE,5.19355,5.39286,4.93548,5.16667,5.25806,5.43333,4.96774,5.41935,5.3,5.12903,5.36667,5.12903
5,PUTUMAYO,SAN MIGUEL,ECOPETROL D. SUR,ORITO,ACAE-SAN MIGUEL (PTO COLON),2805,2708.82,2542.71,2552.93,2405.58,2284.5,2151,2148.48,2066.97,2188.58,2044.7,2195.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,CASANARE,MANI,PETROMINERALES COLOMBIA LTD,CASIMENA,YENAC,1633.42,1509.29,1445.52,1351.1,1300.84,1235.4,1268.48,1224.19,1186.17,1120.13,1172.53,1266.87
498,CASANARE,TRINIDAD,ALANGE ENERGY CORP SUC COLOMBIA,E&E CUBIRO,YOPO,375.516,620.393,578.484,388.467,290.355,283.9,244.516,186.129,175.167,150.452,137.233,136.032
499,PUTUMAYO,PUERTO CAICEDO,ECOPETROL D. SUR,ORITO,YURILLA,117.742,200.464,252.226,253.867,250.645,179.033,240.129,189.935,358.067,349.613,295.467,132.516
500,CESAR,SAN MARTÍN,PETROLEOS DEL NORTE S.A,E&P MIDAS,ZOE,12.8065,0,8.64516,0.866667,0,0,4.74194,0.225806,6.23333,0.451613,4.03333,1.54839
501,CASANARE,OROCUE,GRUPO C&C ENERGÍA BARBADOS SUCURSAL COLOMBIA.,CRAVOVIEJO,ZOPILOTE,2824.23,2730.75,2685.9,2806.97,2729.97,2613.87,2484.48,2430.71,2373.13,2317.42,2231.63,2144.19

# Datos oficiales

# 1

In [ ]:
column2020=año2020.columns

for col in range(0,len(column2020)):
    if column2020[col] == 'enero':
        j=col
table2020 = pd.melt(año2020, id_vars=column2020[0:j], var_name="mes", value_name="aceite")
campo2020 = pd.pivot_table(table2020, values='aceite', index=['Campo'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first')
top2020campos=campo2020[0:5]

In [ ]:
top2020campos

In [ ]:
plot = top2020campos.plot(kind='bar', title='Top 5 de campos de mayor producción de petróleo en 2020')

# 2

In [ ]:
column2018=año2018.columns

for col in range(0,len(column2018)):
    if column2018[col] == 'enero':
        j=col
table2018 = pd.melt(año2018, id_vars=column2018[0:j], var_name="mes", value_name="aceite")
campo2018 = pd.pivot_table(table2018, values='aceite', index=['Departamento','Operadora','Campo'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first').reset_index(level='Departamento')
campo2018=campo2018[campo2018['aceite']!= 0]
campo2018cas= campo2018[campo2018['Departamento']=='CASANARE'].drop('Departamento',axis=1).reset_index()

In [ ]:
campo2018cascount=campo2018cas['Operadora'].value_counts().to_frame()
campo2018cascount=campo2018cascount[campo2018cascount['Operadora']>=5]
campo2018cascount

In [ ]:
plot = campo2018cascount.plot(kind='bar', title='Operadoras que resportaron producción en más de 5 campos de Casanare en 2018')

# 3

In [ ]:
contrato2018 = pd.pivot_table(table2018, values='aceite', index=['Contrato'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first')
top2018contratos=contrato2018[0:5]/1000000

In [ ]:
top2018contratos

In [ ]:
plot = top2018contratos.plot(kind='bar', title='Top 5 de contratos de mayor producción de petróleo en 2018')

# 4

In [ ]:
column2019=año2019.columns

for col in range(0,len(column2019)):
    if column2018[col] == 'enero':
        j=col
table2019 = pd.melt(año2019, id_vars=column2019[0:j], var_name="mes", value_name="aceite")
operadora2019 = pd.pivot_table(table2019, values='aceite', index=['Operadora','mes'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first').reset_index(level='mes')
operadora2019ago=operadora2019[operadora2019['mes']=='Agosto'].sort_values(by='aceite', ascending=False, na_position='first').drop('mes',axis=1)
topoperadora2019ago=operadora2019ago[0:10]

In [ ]:
topoperadora2019ago

In [ ]:
plot = topoperadora2019ago.plot(kind='bar', title='Top 10 de operadoras con mayor producción de petróleo en agosto de 2019')

# 5

In [ ]:
Q1=['enero','febrero','marzo']
Q2=['abril','mayo','junio']

In [ ]:
meses2019 = pd.pivot_table(table2019, values='aceite', index=['mes'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first').reset_index(level='mes')
meses2019['mes']=meses2019['mes'].apply(lambda x: x.lower())
T12019=meses2019[meses2019['mes'].isin(Q1)].reset_index(drop=True)
T22019=meses2019[meses2019['mes'].isin(Q2)].reset_index(drop=True)
meses2020 = pd.pivot_table(table2020, values='aceite', index=['mes'], aggfunc=np.sum).sort_values(by='aceite', ascending=False, na_position='first').reset_index(level='mes')
meses2020['mes']=meses2020['mes'].apply(lambda x: x.lower())
T12020=meses2020[meses2020['mes'].isin(Q1)].reset_index(drop=True)
T22020=meses2020[meses2020['mes'].isin(Q2)].reset_index(drop=True)

In [ ]:
trim1920 = pd.DataFrame({"Año": [2019,2020], "Trimestre 1": [T12019['aceite'].sum(),T12020['aceite'].sum()], "Trimestre 2": [T22019['aceite'].sum(),T22020['aceite'].sum()]})
trim1920.set_index("Año")

In [ ]:
coloresMedallas = ['#FFD700','#C0C0C0']

trim1920.plot(kind = 'bar',
             width=0.8,
             figsize=(10,4),
             color = coloresMedallas);